* {
  background: #2E3440;
  foreground: #D8DEE9;
  border-color: #4C566A;
  selected: #5E81AC;
  font: "JetBrainsMono Nerd Font 11";
  padding: 10;
  border: 2px;
  background: red;
}

window {
  background-color: @background;
  border: 2px solid @border-color;
  padding: 10px;
}

mainbox {
  background-color: @background;
}

listview {
  lines: 8;
  spacing: 5px;
}

element {
  padding: 5px;
  border-radius: 4px;
}

element selected {
  background-color: @selected;
  text-color: #ECEFF4;
}
